@font-face {
  font-family: 'Augustus';
  src: url('../assets/fonts/AUGUSTUS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#pg5 {
  position: relative;
  width: 100%;
  height: 180vh;
}

#pillar, #back_white, #know_how, #asset_left, #asset_right, #middle_star {
  position: absolute;
}

#pillar {
  width: 100%;
  height: 180vh;
  z-index: 1;
}

#back_white {
  width: 100%;
  height: 180vh;
  z-index: 0;
}

#know_how {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 34vh;
  width: 30vw;
}

#asset_left, #asset_right {
  position: absolute;
  height: 100vh;
  top: 52vh;
}

#asset_left {
  left: 0;
}

#asset_right {
  right: 0;
}

#middle_star {
  position: absolute;
  width: 20vw;
  left: 50%;
  top: 102vh;
  transform: translate(-50%, -50%);
}

.directors {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  z-index: 3;
}

.director-card {
  position: relative;
  width: 30vw; 
  height: auto;
  margin: 20px;
  overflow: hidden; 
}

.director-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer; 
  border-radius: 50%; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/hovering_directors.png) no-repeat center center;
  background-size: cover; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out; 
  text-align: center;
  border-radius: 50%; 
}

.director-card:hover .overlay {
  opacity: 1;
}

.name  {
  position: absolute;
  font-size: 1.4vw; 
  top: 80%;
  text-align: center;
  font-family: 'Augustus', sans-serif;
  
}

.description{
  position: absolute;
  text-align: center;
  font-size: 2.4vw; 
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  margin-bottom: 8vh;
}

#kellfany{
  background-image: url(../assets/images/kellfany.png);
  background-position: center;
}
#alex{
  background-image: url(../assets/images/alex.png);
  background-position: center;
}
#rodrigo{
  background-image: url(../assets/images/rodrigo.png);
  background-position: center;
}
#rogerio{
  background-image: url(../assets/images/mineiro.png);
  background-position: center;
}

#kellfany-container{
  top: 48vh;
  left: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#rodrigo-container{
  top: 48vh;
  left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#alex-container{
  top: 104vh;
  right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}



#rogerio-container{
  top: 104vh;
  right: 20.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}