#pg4 {
  margin-top: -1vh;
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  background-color: black;
  position: relative;
}

.image-text-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#angels_frame {
  width: 100%;
  z-index: 1;
}

.image-text-container p {
  font-size: 13vw;
  color: #a11e2f;
  z-index: 0;
  position: absolute;
  top: 46%;
  left: 26vw;
}

#angels_frame + p::first-letter {
    font-size: 150%; 
    margin-top: -0.1em;
    float: left;

}
  

  #angels_frame + p {
    letter-spacing: -8px;
  }
  