/*home.css*/

#pg1 {
  display: flex;
  position: relative;
  background-color: black;
  width: 100%;
  font-family: "League Spartan ", sans-serif;
  font-weight: 800;
}

#majesto_text {
  width: 720px; 
  height: 950px;
  z-index: 0;
}

#box_shadow {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7092086834733893) 90%
  );
  z-index: 1;
  width: 900px;
  height: 950px;
  top: 0;
}



#statue {
  width: 1200px;
  height: 950px;
  position: absolute;
  z-index: 2;
  left: 200px;
  top: 0;
}

#glitch_statue {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 200px;
  z-index: 1;
}

#glitch_statue_top {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 190px;
  z-index: 3;
  --x-offset: 3;
  --y-offset: 2;
}

#glitch_statue_top,
#glitch_statue,
#statue {
  pointer-events: none;
}

#logo {
  position: absolute;
  width: 360px;
  height: 360px;
}

#menu_text {
  position: absolute;
  border-radius: 50%;
  width: 340px;
  height: 340px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#logo,
#menu_text {
  z-index: 0;
  top: -20px;
  right: -10px;
}

#logo_menu {
  cursor: pointer;
}

#menu_options {
  position: absolute;
  margin-top: 20px;
  z-index: 5;
  right: 50px;
  top: 0;
}

#menu_options p {
  font-size: 26px;
  margin-top: -16px;
  cursor: pointer;
  color: rgb(199, 197, 197);
  transition: transform 0.5s;
}

#close_options_star {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  right: -140px;
  top: 0;
  animation: pulse 1.2s linear infinite;
}

#menu_options p:hover {
  transform: scale(1.2);
  text-shadow: 0 0 2px #a0a0a0, 0 0 4px #ad0a1f, 0 0 6px #ad0a1f,
    0 0 8px #ad0a1f, 0 0 10px #ad0a1f, 0 0 12px #ad0a1f, 0 0 14px #ad0a1f;
}

@keyframes pulse {
  0% {
    opacity: 100;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* Animação de opacidade */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s forwards; /* Ajuste a duração conforme necessário */
}

.fade-in {
  animation: fadeIn 1s forwards; /* Ajuste a duração conforme necessário */
}

/* Animação de saída */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px); /* Sai para cima */
  }
}

.slide-out {
  animation: slideOut 1s forwards; /* Ajuste a duração conforme necessário */
}

/* Animação de entrada */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100px); /* Vem de cima */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 1s forwards; /* Ajuste a duração conforme necessário */
}
