#pg6 {
  position: relative;
  width: 100%;
  height: 126vh;
  background-color: black;
  overflow: hidden;
}

#angels_frame_blue {
  width: 100vw;
  height: 126vh;
}

#cases {
  position: absolute;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  font-size: 34vw;
  margin-left: -2vw;
}

#asset-center {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stars-lines-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 77%;
}

.lines-stars-container {
  display: flex;
  align-items: center;
}

.lines-container, .stars-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adiciona um espaço uniforme entre as linhas */
}

.line, .star {
  width: 4px;
  height: 400px;
  background-image: url('src/assets/images/vertical_line.png'); /* Substitua pelo caminho da sua imagem */
}

.stars {
  width: 10vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#first-star {
  left: 0.2vw;
  bottom: 80vh;
}

#second-star {
  left: 12.2vw;
  bottom: 56vh;
}

#third-star {
  bottom: 88vh;
  left: 24vw;
}

#fourth-star {
  bottom: 88vh;
  left: 75.2vw;
}

#fifth-star {
  left: 87.3vw;
  bottom: 56vh;
}

#sixth-star {
  bottom: 80vh;
  left: 99.3vw;
}

.case-logo {
  position: absolute;
  width: 30vw;
  top: 68vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.case-description {
  position: absolute;
  top: 110vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.5rem;
}

.case-name {
  position: absolute;
  top: 122vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

.arrow-right {
  position: absolute;
  top: 110vh;
  left: 64vw;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  top: 110vh;
  right: 64vw;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.case-content {
  display: none;
}

.case-content.active {
  display: block;
}
