#welcome {
  display: flex;
  position: relative;
  width: 100%;
}

#majesto_text {
  width: 720px;
  height: 950px;
  z-index: 0;
}

#box_shadow {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7092086834733893) 90%
  );
  z-index: 1;
  width: 900px;
  height: 1000px;
  top: 0;
}

#div_majesto_statue {
  position: absolute;
}

#statue {
  width: 1200px;
  height: 950px;
  position: absolute;
  z-index: 2;
  left: 200px;
  top: 0;
}

#glitch_statue {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 195px;
  z-index: 1;
}

#glitch_statue_top {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 190px;
  z-index: 3;
  --x-offset: 3;
  --y-offset: 2;
}

#glitch_statue_top,
#glitch_statue,
#statue {
  pointer-events: none;
}

#logo {
  position: absolute;
  width: 330px;
  height: 330px;
}

#menu_text {
  position: absolute;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#logo,
#menu_text {
  z-index: 0;
  top: -20px;
  right: -10px;
}

#logo_menu {
  cursor: pointer;
}

#menu_options {
  position: absolute;
  margin-top: 20px;
  z-index: 5;
  right: 50px;
  top: 0;
}

#menu_options p {
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
}

#close_menu_options {
  color: red;
  cursor: pointer;
}

#menu_options p:hover {
  font-size: 150%;
  transition: 0.5s;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #a11e2f, 0 0 30px #a11e2f,
    0 0 40px #a11e2f, 0 0 50px #a11e2f, 0 0 60px #a11e2f;
}

#home {
  margin-left: 20px;
}
