#welcome {
  display: flex;
  position: relative;
  width: 100%;
}

#majesto_text {
  width: 720px;
  height: 950px;
  z-index: 0;
}

#box_shadow {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7092086834733893) 90%
  );
  z-index: 1;
  width: 900px;
  height: 1000px;
  top: 0;
}

#div_majesto_statue {
  position: absolute;
}

#statue {
  width: 1200px;
  height: 950px;
  position: absolute;
  z-index: 2;
  left: 200px;
  top: 0;
}

#glitch_statue {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 200px;
  z-index: 1;
}

#glitch_statue_top {
  position: absolute;
  width: 1200px;
  height: 950px;
  top: 10px;
  left: 190px;
  z-index: 3;
  --x-offset: 3;
  --y-offset: 2;
}

#glitch_statue_top,
#glitch_statue,
#statue {
  pointer-events: none;
}

#logo {
  position: absolute;
  width: 360px;
  height: 360px;
}

#menu_text {
  position: absolute;
  border-radius: 50%;
  width: 340px;
  height: 340px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#logo,
#menu_text {
  z-index: 0;
  top: -20px;
  right: -10px;
}

#logo_menu {
  cursor: pointer;
}

#menu_options {
  position: absolute;
  margin-top: 20px;
  z-index: 5;
  right: 50px;
  top: 0;
}

#menu_options p {
  font-size: 30px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  position: absolute;
}

#close_options_star {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Position each menu item */
#home {
  top: 0;
  right: 340px;
  animation: floatR 2s ease-in-out infinite;

}

#about {
  top: 55px;
  right: 250px;
  animation: floatL 2s ease-in-out infinite;
}

#customers {
  top: 0;
  right: 120px;
  animation: floatL 1s ease-in-out infinite;
}

#services {
  top: 55px;
  right: 40px;
  animation: floatL    2s ease-in-out infinite;
}

#contact {
  top: 110px;
  right: 0px;
}

#menu_options p:hover {
  font-size: 200%;
  transition: 0.5s;
  text-shadow: 0 0 2px #a0a0a0, 0 0 4px #ad0a1f, 0 0 6px #ad0a1f,
    0 0 8px #ad0a1f, 0 0 10px #ad0a1f, 0 0 12px #ad0a1f, 0 0 14px #ad0a1f;
}

@keyframes floatR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatL {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
